In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/AyushSonuu/FSDSRegression/main/notebooks/data/gemstone.csv")

In [5]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [11]:
df["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [12]:
df["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [13]:
df.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
78909,78909,1.09,Premium,G,VVS1,61.9,58.0,6.65,6.71,4.13,8774
150237,150237,0.33,Premium,I,VVS1,61.9,58.0,4.42,4.39,2.73,707
119017,119017,1.01,Premium,G,VS2,62.3,59.0,6.41,6.38,3.99,6108
91172,91172,0.30,Ideal,D,VS2,62.0,55.0,4.34,4.31,2.68,692
169538,169538,0.51,Premium,E,VS2,61.3,61.0,5.15,5.12,3.15,1819
111913,111913,1.26,Ideal,G,VVS2,61.0,57.0,6.97,6.98,4.25,10335
98524,98524,0.52,Ideal,G,VS2,61.8,56.0,5.16,5.19,3.20,1577
30264,30264,0.32,Ideal,G,VS2,59.4,57.0,4.47,4.50,2.67,596
167181,167181,0.43,Premium,E,SI1,61.7,59.0,4.88,4.83,3.00,968
62972,62972,0.72,Ideal,G,VS2,62.3,54.0,5.76,5.73,3.58,2462

In [15]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [16]:
df.shape

(193573, 11)

In [17]:
df.size

2129303

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB